
.cart{
    height: 80vh;
}


/* titulo  */

.carrito{
    border-bottom:1px rgb(231, 231, 231) solid ;
    font-size: 20px;
    font-weight: 400; 
}

.cart__grid{
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 70px;
}

.cart__container{
    width: 80%;
    padding: 20px 10px;
    border-radius: 3px;
    overflow-y: scroll;
}

.cart__actions{
    list-style: none;
}








/* items */

.cart__list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.cart__item{
    border-bottom: 1px solid #eee;
}

.item__name{
    font-size: 20px;
    font-weight: 600;
}

.counter{
    width: 120px;
    font-size: 20px;
}

.counter .btn{
    border: 1px solid #aaa;
}

.item__delete, .cart__clean-cart{
    cursor: pointer;
    
}

.item__delete:hover , .cart__clean-cart:hover{
    color: red;
    text-decoration: underline;
}

/* actions */

.cart__actions{
    min-height: 100px;
}


/* item */
.cart__item img{
    height: 50px;
    width: 50px;
}